*{
    padding: 0;
    margin: 0%;
}
body{
    background-color:  rgb(0, 0, 0);
}
.pag-login{
    display: flex;
    
}
.login_pic img{
    position: absolute;
    right: 0%;
    max-width: 65vw;
    margin: 0%;
}
form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 5vh;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding-top: 10%;
    padding-left: 5%;
    z-index: 23;
}
form a{
    color: aliceblue;
}
form input{
    outline:none;
    width: 20vw;
    height: 4vh;
    background-color: rgba(240, 248, 255, 0.144);
    border: none;
    border-bottom: 3px solid yellow;
    padding: 1vh;
    margin-top: 2vh;
    color: aliceblue;
}
form button{
    background-color: yellow;
    height: 40px;
    width: 130px;
    border: none;
    font-weight: 800;
}
@media (max-width: 900px) {
    body{
        background-image: url(../img/zed_mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pag-login{
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0%;
        align-items: center;
       
    }
    form{
        position: absolute;
        top: 25vh;
        margin: none;
        width: 100%;
        height: max-content;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.521);
        padding-right: 5%;
         }
    form input{
        width: 80%;
        color: aliceblue;
    }
    .login_pic img{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        height: 100%;
    }
}