<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/cursos.css">
    <!-- CSS do Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- JS do Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <title>Document</title>
</head>
<body>
    
    
    <nav class="navbar">
        <div class="logo">
            <img src="./img/SINK-removebg-preview.png" alt="sink academy">
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li><a href="/register">CADASTRAR</a></li>
            <li><a href="/courses">CURSOS</a></li>
            <li><a href="/">HOME</a></li>
            <li><a href="/login"><button>LOGIN</button></a></li>
        </ul>
    </nav>
    

    <div class="banner">
        <img src="./img/sink.png" alt="sink off" srcset="">

        <div>
            <h2><i>VALORANT</i></h2>
                <H1><i>60% OFF</i></H1>
            <p>Já pensou em competir com os melhores ?</p>

            <button><a href="#">CONFERIR PROMOÇÃO</a></button>
        </div>
    </div>

    <main>
        <h1>Mais Vendidos</h1>
        <div class="top-vendas">
            
            
            <figure class="posicao-1">
                <figcaption>1º</figcaption>
                <img src="./img/CAPAOVERWATCH.png" alt="Capa Overwatch">
            </figure>
            
            <figure class="posicao-2">
                <figcaption>2º</figcaption>
                <img src="./img/CAPALOL.png" alt="Capa League of Legends" srcset="" id="posição-2">
            </figure>
            
            <figure class="posicao-3">
                <figcaption>3º</figcaption>
                <img src="./img/FORTNITECAPA.png" alt="Capa Fortnite" srcset="">
            </figure>
            

        </div>

        <h1>NOVOS</h1>

        
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div class="product-card">
                    <img src="./img/TUMBLOL.png" alt="Product Image">
                    <h4>Aprendendo a se tornar um pro-player com um campeão mundial</h4>
                    <div>
                        <h3>34.55</h3>
                        <button>add</button>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                    <img src="./img/TUMBVALORANT.png" alt="Product Image">
                    <h4>Aprendendo a se tornar um pro-player com um campeão mundial</h4>
                    <div>
                        <h3>34.55</h3>
                        <button>add</button>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                    <img src="./img/CSTUMB.png" alt="Product Image">
                    <h4>Aprendendo a se tornar um pro-player com um campeão mundial</h4>
                    <div>
                        <h3>34.55</h3>
                        <button>add</button>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                    <img src="./img/OVERWATCHTUMB.png" alt="Product Image">
                    <h4>Aprendendo a se tornar um pro-player com um campeão mundial</h4>
                    <div>
                        <h3>34.55</h3>
                        <button>add</button>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-card">
                <img src="./img/CSTUMB.png" alt="Product Image">
                <h4>Aprendendo a se tornar um pro-player com um campeão mundial</h4>
                <div>
                    <h3>34.55</h3>
                    <button>add</button>
                </div>
            </div></div>
              ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
          
          <h1>GAMES POPULARES</h1>

        <div class="populares">



            <div class="populares-container">
                <div class="card-popular">
                    <img src="./img/CSGOCAPA.png" alt="" srcset="">
                </div>
                <div class="card-popular">
                    <img src="./img/CAPAOVERWATCH.png" alt="" srcset="">
                </div>
                <div class="card-popular">
                    <img src="./img/CAPALOL.png" alt="" srcset="">
                </div>
                <div class="card-popular">
                    <img src="./img/FORTNITECAPA.png" alt="" srcset="">
                </div>
                <div class="card-popular">
                    <img src="./img/CAPAOVERWATCH.png" alt="" srcset="">
                </div>
                <div class="card-popular" >
                    <img src="./img/CAPAOVERWATCH.png" alt="" srcset=""> 
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; 2023 Sink Academy Games. Todos os direitos reservados.</p>
            <p>Contato: contato@sinkacademygames.com</p>
            <p>Endereço: Rua dos Games, 123 - Cidade Gamer</p>
            <p>Nomes Fictícios: João Silva, Maria Souza, Lucas Oliveira, Camila Santos</p>
        </footer>


    </main>

    <script>
        
        /*nav*/
                var menuToggle = document.getElementById('mobile-menu');
        var menu = document.querySelector('.menu');

        // Adiciona evento de clique ao ícone do hamburguer
        menuToggle.addEventListener('click', function () {
            menu.classList.toggle('show-menu');
        });

        // Adiciona evento de clique no documento para fechar o menu ao clicar fora
        document.addEventListener('click', function (event) {
            var isClickInsideMenu = menu.contains(event.target);
            var isClickOnMenuToggle = menuToggle.contains(event.target);

            if (!isClickInsideMenu && !isClickOnMenuToggle) {
                menu.classList.remove('show-menu');
            }
        });




            /*swiper*/

            const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },

            slidesPerView: 3, // ou outro número desejado
            spaceBetween: 20, // ajuste conforme necessário

            breakpoints: {
                1200:{
                    slidesPerView: 3, // ou outro número desejado
                    spaceBetween: 20, // ajuste conforme necessário
                },
                768: {
                slidesPerView: 2,
                spaceBetween: 10,
                },
                552: {
                slidesPerView: 2,
                spaceBetween: 5,
                },
                100: {
                slidesPerView: 1,
                spaceBetween: 5,
                }
            }
            });



  

    </script>


</body>
</html>