<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="icon" href="img/mascote_sink-removebg-preview.png" type="image/x-icon">
    <title>Home</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <img src="./img/SINK-removebg-preview.png" alt="sink academy">
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li><a href="/register">CADASTRAR</a></li>
            <li><a href="/cursos">CURSOS</a></li>
            <li><a href="/posts">HOME</a></li>
            <li><a href="/login"><button>LOGIN</button></a></li>
        </ul>
    </nav>

  <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source media="(min-width: 600px)" srcset="img/akali_pc.png">
            <img src="img/akali_mob.png" alt="Imagem Responsiva">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source media="(min-width: 600px)" srcset="img/fortnite_pc.png">
            <img src="img/fortnite_mob.png" alt="Imagem Responsiva">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source media="(min-width: 600px)" srcset="img/overwatch_pc.png">
            <img src="img/overwatch_mob.png" alt="Imagem Responsiva">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source media="(min-width: 600px)" srcset="img/valorant_pc_inicial.png">
            <img src="img/valorant_mob.png" alt="Imagem Responsiva">
          </picture>
        </div>
      </div>
    </div>
    

      <div class="tumb-matricula">
        <h3>QUER MELHORAR SEU</h3>
        <h1>GAMEPLAY ?</h1>
        <p>SUBA NAS FILAS RANQUEDAS </p>

        <div class="matricule-se">
          <a href="/register"><button id="btn1">MATRICULE-SE</button></a>
          <a href="/login"><button id="btn2">SOU MEMBRO</button></a>
        </div>
      </div>

      <div class="ver-catalogo">

        <div class="divis">
          <h3>SE TORNE UM</h3>
          <h1>PRO-PLAYER</h1>
          <p>escolha os jogos mais famosos</p>
          <a href="/courses"><button>CATALOGO</button></a>
        </div>

        <div class="jogos-famosos">
          <img src="./img/CAPALOL.png" class="game1">
          <img src="./img/CAPAOVERWATCH.png" class="game2">
          <img src="./img/CSGOCAPA.png" class="game3">
          <img src="./img/FORTNITECAPA.png" class="game4">
        </div>
      </div>

      <h1 class="titulo">CURSOS MAIS POPULARES</h1>

      
      <div class="carousel-container">
        <div class="carousel-track" id="carouselTrack">
          <a href="seu-link-aqui" class="carousel-item">
            <div class="card-populares-car">
              <img src="img/TUMBVALORANT.png" alt="Slide 1">
              <h4>Valorant para iniciantes</h4>
            </div>
          </a>
          <a href="seu-link-aqui" class="carousel-item">
            <div class="card-populares-car">
              <img src="/img/CSTUMB.png" alt="Slide 1">
              <h4>Melhore suas táticas em CSGO</h4>
            </div>
          </a>
          <a href="seu-link-aqui" class="carousel-item">
            <div class="card-populares-car">
              <img src="img/TUMBLOL.png" alt="Slide 1">
              <h4>Master em League of Legends</h4>
            </div>
          </a>
          <a href="seu-link-aqui" class="carousel-item">
            <div class="card-populares-car">
              <img src="img/OVERWATCHTUMB.png" alt="Slide 1">
              <h4>Overwatch: Truques e segredos</h4>
            </div>
          </a>
          <a href="seu-link-aqui" class="carousel-item">
            <div class="card-populares-car">
              <img src="/img/CSTUMB2.png" alt="Slide 1">
              <h4>Evoluindo no CS2/h4>
            </div>
          </a>
        </div>
      </div>
      <DIV class="div-botões">
        <button class="carousel-prev" onclick="prevSlide()">Anterior</button>
      <button class="carousel-next" onclick="nextSlide()">Próximo</button>
      </DIV>
    </div>



    <h3 style="color: aliceblue; width: 100vw; text-align: center;" class="seta">>>>>>>></h3>

    <h1 class="titulo" style="margin-top: 30px;">VEM SER SINK ACADEMY</h1>
      <div class="populares">

        <div class="card-popular"  id="card-pop1">
          <div class="pop1"><img src="./img/mascote_red.png" alt="" srcset=""></div>
          <div class="pop2" style="background-color: rgb(159, 9, 9); ">
          <h3>CONECTE-SE COM A COMUNIDADE</h3>
          <p>Faça parte da maior comunidade de apaixonados por games. Conheça e se conecte com milhares de jogadores de alto nivel.</p>
          </div>
        </div>

        <div class="card-popular"  id="card-pop2">
          <div class="pop1"><img src="./img/mascote_yellow.png" alt="" srcset=""></div>
          <div class="pop2" style="background-color: rgb(211, 255, 15);">
            <h3>APROFUNDE SEUS CONHECIMENTOS</h3>
          <p> Aqui você tem acesso a um processo de aprendizado acessível e com direcionamento na sua jornada</p>
          </div>
        </div>

        <div class="card-popular"  id="card-pop3">
          <div class="pop1"><img src="./img/mascote_blue.png" alt="" srcset=""></div>
          <div class="pop2" style="background-color: rgb(69, 176, 238);">
          <h3>AVANCE NOS HANKINGS</h3>
          <p>Diversos cursos para você transoformar sua hitória com os games, chegue perto do TOP 1</p>
          </div>
        </div>

      </div>

      <h1 class="titulo" style="margin-top: 100px;">NOSSOS SINKERS</h1>

        <div class="comments-grid">
          <div class="comment" id="comment1">
             <div class="grid-1-1">
              <div class="user">
                <div class="perfil"></div>
                <h3>Iwakami Gamerplay</h3>
              </div>
              <hr>
    
              <p class="opinião">"A Sink Academy revolucionou minha jornada como jogador! Os cursos são incrivelmente bem estruturados, proporcionando uma aprendizagem progressiva. /p>
             </div>
             <div class="grid-1-2">
              <img src="./img/mascote_blue.png" alt="" srcset="">
             </div>
          </div>
      
          <div class="comment" id="comment2">
            <div class="user">
              <div class="perfil"></div>
              <h3>Fred do LOL</h3>
            </div>
            <hr>
  
            <p class="opinião">A experiência com a Sink Academy foi incrível! Os cursos são ministrados por profissionais experientes, proporcionando insights valiosos. Com dedicação e as orientações certas, consegui aprimorar minhas habilidades e alcançar resultados que antes pareciam impossíveis</p>
          </div>
      
          <div class="comment" id="comment3">
            <div class="user">
              <div class="perfil"></div>
              <h3>luan_gameplay</h3>
            </div>
            <hr>
  
            <p class="opinião">Sink Academy, simplesmente sensacional! Os cursos são abrangentes e adaptados para jogadores de todos os níveis. Desde que me inscrevi, notei uma melhoria significativa no meu desempenho. Se você está levando a sério sua jornada nos games, esta é a plataforma certa para você!</p>
          </div>
  
          <div class="comment" id="comment4">
            <div class="user">
              <div class="perfil"></div>
              <h3>ROGERIO GAMES</h3>
            </div>
            <hr>
  
            <p class="opinião">Não poderia estar mais satisfeito com a Sink Academy. Os cursos são tão envolventes que nem parece que estou estudando. Aprendi estratégias avançadas, aprimorei minha mecânica e, com o tempo, me tornei um jogador muito mais competitivo. Recomendo a todos os gamers dedicados!</p>
        </div>
      
      </div>



      <footer>
        <p>&copy; 2023 Sink Academy Games. Todos os direitos reservados.</p>
        <p>Contato: contato@sinkacademygames.com</p>
        <p>Endereço: Rua dos Games, 123 - Cidade Gamer</p>
        <p>Fundadores: João Silva, Maria Souza, Lucas Oliveira, Camila Santos</p>
      </footer>

    <script>

        /*nav*/
        const nav = document.querySelector('nav');

        window.addEventListener('scroll', function() {
          if (window.scrollY >= window.innerHeight) {
            nav.style.backgroundColor = 'black';
          } else {
            nav.style.backgroundColor = 'transparent';
          }
        });


        
        var menuToggle = document.getElementById('mobile-menu');
        var menu = document.querySelector('.menu');

        // Adiciona evento de clique ao ícone do hamburguer
        menuToggle.addEventListener('click', function () {
            menu.classList.toggle('show-menu');
        });

        // Adiciona evento de clique no documento para fechar o menu ao clicar fora
        document.addEventListener('click', function (event) {
            var isClickInsideMenu = menu.contains(event.target);
            var isClickOnMenuToggle = menuToggle.contains(event.target);

            if (!isClickInsideMenu && !isClickOnMenuToggle) {
                menu.classList.remove('show-menu');
            }
        });


        /*swiper*/

        document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 1,
            loop: true, // Se quiser um loop contínuo
            autoplay: {
            delay: 2000, // Tempo em milissegundos (5 segundos no exemplo)
            disableOnInteraction: false,
            },
            pagination: {
            el: '.swiper-pagination',
            clickable: true,
            },
        });
        });

        document.addEventListener('DOMContentLoaded', function () {
        var recomendacoesSwiper = new Swiper('.recomendacoes-swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            navigation: {
                nextEl: '.recomendacoes-swiper-button-next',
                prevEl: '.recomendacoes-swiper-button-prev',
            },
            scrollbar: {
                el: '.recomendacoes-swiper-scrollbar',
            },
            breakpoints: {
                768: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                992: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                },
            },
        });
    });

    /*slick*/

    let currentIndex = 0;

    function showSlide(index) {
        const track = document.getElementById('carouselTrack');
        const slideWidth = document.querySelector('.carousel-item').offsetWidth;

        currentIndex = index;
        const newPosition = -currentIndex * slideWidth;
        track.style.transform = `translateX(${newPosition}px)`;
    }

    function nextSlide() {
        const totalSlides = document.querySelectorAll('.carousel-item').length;
        currentIndex = (currentIndex + 1) % totalSlides;
        showSlide(currentIndex);
    }

    function prevSlide() {
        const totalSlides = document.querySelectorAll('.carousel-item').length;
        currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
        showSlide(currentIndex);
    }

    // Exibir o primeiro slide ao carregar a página
    showSlide(currentIndex);


		
      </script>
</body>
</html>
