<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/login.css">
    <link rel="icon" href="img/mascote_sink-removebg-preview.png" type="image/x-icon">
    <title>SINK LOGIN</title>
</head>
<body>
    
    <div class="pag-login">


        <form action="/login" method="post">
            
            <label for="user">Email:</label>
                <input type="text" id="user" name="email" placeholder="Seu email">
                <br>

            <label for="password">Senha:</label>    
                <input type="password" name="password" id="password" placeholder="password">
                <br>

            <button type="submit">LOGIN</button>
            <br>

            <a href="/register">Ainda não tem conta? Cadastre-se</a>
        </form>

        <div class="login_pic">
            <img src="./img/login_icon.jpg" alt="" srcset="">
        </div>

    </div>
</body>
</html>